<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <!-- Copywrite Area -->
    <div class="copywrite-area" style="align-content:center;">
        <div class="container">
            <div class="row align-items-center">
                <!-- Copywrite Text -->
                <div class="col-12 col-sm-6">
                    <p class="copywrite-text">
                       
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
