@model Forum.Models.ApplicationUser
@{

    ViewBag.Title = "Users list:";
}
@section content {
    <div class="sectionContainer" style="min-height:70vh">
        <br />
        <h3>@ViewBag.Title</h3>
        <br />
        <div style=" display: grid;grid-template-columns:auto auto auto auto auto;padding: 10px;">
            @foreach (var user in ViewBag.UsersList)
            {
                <div style="border:double;border-color:white">
                    <br />
                    <div class="panel-heading"><h4>Username: @user.UserName</h4></div>
                    <div class="panel-body">
                        <h4>
                            E-mail:
                            <span class="label label-default">@user.Email</span>
                        </h4>
                    </div>

                    <br />

                    <div style="width:auto;float:left;clear:left;text-align:center;">
                        <a style="float:left;margin-right:25px;margin-left:25px;" class="btn btn-sm btn-success"
                           href="/Users/Edit/@user.Id">Edit user</a>

                        <form style="overflow:hidden" method="post" action="/Users/Delete/@user.Id">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="btn btn-sm btn-danger" type="submit">Delete user</button>
                        </form>
                        <br />
                    </div>
                </div>
                <br /><br /> <br />
            }
        </div>
    </div>
}
