@{
    ViewBag.Title = "Forgot Password Confirmation";
}

@section content{
    <div class="sectionContainer">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
}

