
@section content{

    <div>
        <div class="vizew-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Home/Index"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Your recommendations</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


        @foreach(Forum.Models.Thread thread in ViewBag.Threads)
        {
            @Html.Partial("ThreadInfo", thread);
        }
}
