.homePhoto {
    display: block;
    margin: 0 auto;
    height: 60%;
    width: 75%;
    border-radius: 100px;
}

.homeDiv1 {
    width: 48%;
    border: 3px solid gray;
    border-radius: 25px;
    float: left;
    margin-right: 4%;
    overflow:hidden;
}

.homeDiv2 {
    width: 48%;
    border: 3px solid gray;
    border-radius: 25px;
    overflow: hidden;
}


.loginBtn {
    float:left;
    margin-left:8px;
}


@media only screen and (max-width: 766px) {
    .HeaderIcon {
        height:55px;
        width:55px;
    }
    
    .homeDiv1 {
        display:block;
        margin:auto;
        float:initial;
        width:95%;
    }

    .homeDiv2 {
        display: block;
        margin: auto;
        float: initial;
        width: 95%;
    }

}

@media only screen and (min-width:767px) and (max-width: 1198px){
    .HeaderIcon {
        height: 60px;
        width: 60px;
    }
}

@media only screen and (min-width:1199px){
    .HeaderIcon {
        height: 75px;
        width: 75px;
    }
}

.sectionContainer {
    width: 75%;
    display: block;
    margin: auto;
}

.AdminButton {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

.backgroundImageDiv{
    position:relative;
}

.backgroundImageDiv::after {
    content: "";
    background: url(Images/street_view.jpeg);
    opacity: 0.1;
    z-index:-1;
    top: 0;
    left: 0;
    height:100%;
    background-size: 100%;
    position: fixed;
    display:block;
    width:100%;
    background-repeat:no-repeat;
    background-size:cover;
}
