.homePhoto {
    display: block;
    margin: 0 auto;
    height: 60%;
    width: 75%;
    border-radius: 100px;
}

.homeDiv1 {
    width: 48%;
    border: 3px solid gray;
    border-radius: 25px;
    float: left;
    margin-right: 4%;
}

.homeDiv2 {
    width: 48%;
    border: 3px solid gray;
    border-radius: 25px;
    overflow: hidden;
}

.sectionContainer {
    width: 75%;
    display: block;
    margin: auto;
}

.AdminButton {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

.backgroundImageDiv{
    position:relative;
}

.backgroundImageDiv::after {
    content: "";
    background: url(Images/street_view.jpeg);
    opacity: 0.1;
    z-index:-1;
    top: 0;
    left: 0;
    height:100%;
    background-size: 100%;
    position: absolute;
    display:block;
    width:100%;
}
