@section content{
    <img class="img-responsive"
         style="display: block;
                margin: 0 auto;
                height:60%;
                width:75%;
                border-radius: 100px;"
         src="~/Content/Images/adult-bar-brainstorming-1015568.jpg" alt="">
    <br />
    <div class="row" style="width:80%;display: block;margin: 0 auto;overflow:hidden">
        <div class="col-md-6" style="border:3px solid gray;border-radius:25px;float:left;">
            <h2>Join us!</h2>
            <p>
                To be able to also post, please join our community by registering!
            </p>
            <p><a class="vizew-btn" href="~/Account/Register">Register here! &raquo;</a></p>
        </div>
        <div class="col-md-6" style="border:3px solid gray;border-radius:25px;overflow:hidden">
            <h2>Already a member?</h2>
            <p>
                Start discussing! Hit the button below to see the latest discussions!
            </p>
            <p><a class="vizew-btn" href="~/Thread/Index">Latest discussions &raquo;</a></p>
        </div>
    </div>
}