@model Forum.Models.Category
@{
    ViewBag.Title = "Add category";
}

@section content {
    <div class="sectionContainer">
        <br /><br />
        <h2>@ViewBag.Title</h2>
        <form method="post" action="/Categories/New">
            @Html.Label("CategoryName", "Category Name")
            <br />
            @Html.TextBox("CategoryName", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryName, null, new { @class = "text-danger " })
            <br /><br />
            <button class="btn btn-sm btn-success" type="submit">Add category</button>
        </form>
        <br />
    </div>
}

